.heading{
    height: 80px;
    background-color: rgb(39, 31, 40);
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-shadow: 0 0 20px white;
    font-size: 40px;
    animation: move 1s ease-in alternate-reverse;
}

body{
    background-color: black;
    color:white;
    margin: 0;
}

@keyframes move{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-30vh);
    }
}